.rbc-calendar{
  background-color: #121212 !important;
  color: white !important;
  border-radius: 8px !important;
  border: 1px solid #121212 !important;
}

.rbc-header{
  background-color: #121212 !important;
  color: white !important;
  padding: 12px !important;
  font-size: 17px !important;
}

.rbc-header span{
  font-size: 16px !important;
  font-weight: 400 !important;  
}

.rbc-event{
  background-color: #2114af !important;
  color: white !important;
  border-radius: 8px !important;

}

.rbc-event-content {
  /* background-color: #07032f !important; */
  color: white !important;
  padding: 3px !important;
  border-radius: 8px !important;
}



.rbc-month-view .rbc-off-range-bg{
  background-color: #e6e6e6 !important;
}

.rbc-day-bg, .rbc-day-slot{
  background-color: #fff;
}

.rbc-date-cell{
  text-align: left !important;
  padding-top: 5px;
  padding-left: 8px;
  font-size: 20px !important;
}

.rbc-time-content .rbc-day-slot:nth-child(8)  {
  background-color: #f6f6f6; 
}


.rbc-time-content .rbc-day-slot:nth-child(7) {
  background-color: #f6f6f6; 
}

.rbc-month-view .rbc-day-bg:nth-child(6) {
  background-color: #f6f6f6 !important;
}

.rbc-month-view .rbc-day-bg:nth-child(7) {
  background-color: #f6f6f6 !important;
}

